{% extends 'base.html.twig' %}

{% block container %}

    <h1>{{ 'now'|date('d/m/Y') }}</h1>

    <table class="table table-sm">
        <thead>
        <tr>
            <th>Time</th>
            {% for i in 1..number_elevators %}
                <th>Elevator {{ i }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in generator.iterator %}
            <tr>
                <td>{{ row.time|date('H:i') }}</td>
                {% for i in 0..number_elevators - 1 %}
                    {% set cell = row.cells[i] %}
                    <td>{{ cell.currentFloor }} / {{ cell.traveledFloors }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}